<!-- <input auto-complete [source]="symList" [(ngModel)]="curSym" [auto-complete-placeholder]="sdbsf" [accept-user-input]="false" />
 -->
<div *ngIf="cs" class="tbhis">
  <table class="tb">
  <thead>
  <tr>
    <th class="tm tbc">time</th>
    <th class="pr tbc">price</th>
    <th class="vo tbc">vol</th>
    <th class="am tbc">amount</th>
    </tr>
    </thead>
  </table>
  <div style="height: 500px" class="cusscr">
  <table class="tb">
    <tr *ngFor="let e of htea" class="tbr {{e.dir}} {{e.style}}">
      <td class="tbc tm">{{e.time}}</td>
      <td class="tbc pr">{{e.price}}</td>
      <td class="tbc vo">{{e.vol}}</td>
      <td class="tbc am">{{e.amt}}</td>
    </tr>
  </table>
  </div>
</div>
