<!-- <input auto-complete [source]="symList" [(ngModel)]="curSym" [auto-complete-placeholder]="sdbsf" [accept-user-input]="false" />
-->
<span (click)='onSymselClick()'>{{sym}} AT {{exg}}</span>
<span (click)='toggleAnn()'>ANN</span>
<symsel-comp #symsel (sel)="ngSymSelection($event)"></symsel-comp>
<div class="flex">
  <div class="centerblock">
    <tradebox-comp #tbx></tradebox-comp>
  </div>
  <div class="rightside">
    <depth-comp  [cs]="cs"></depth-comp>
    <history-comp  [cs]="cs"></history-comp>
  </div>
</div>